<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Detalhes de pessoas</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<fieldset>
    <legend><h1>Detalhe Pessoa</h1></legend>
        <tbody>
        <tr>
            <td><strong>Nome:</strong></td>
            <td th:text="${pessoa.nome}"></td>
        </tr>
        <tr>
            <td><strong>CPF:</strong></td>
            <td th:text="${pessoa.cpf}"></td>
        </tr>
        </tbody>
    </table>
</fieldset>
</body>
</html>