<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Funções</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<fieldset>
    <legend><h1>Lista de Funções</h1></legend>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Classificação</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="funcao : ${funcoes}">
            <td th:text="${funcao.id}"></td>
            <td th:text="${funcao.nomeFuncao}"></td>
            <td th:text="${funcao.classificacaoFuncional}"></td>

            <td>
                <a th:href="@{/funcao/ui/listar/{id}(id=${funcao.id})}" class="botao">Ver Detalhes</a>
                <a th:href="@{/funcao/ui/alterar/{id}(id=${funcao.id})}" class="botao">Alterar</a>
                <a th:href="@{/funcao/ui/deletar/{id}(id=${funcao.id})}" class="botao">Deletar</a>
            </td>
        </tr>
        </tbody>
    </table>
</fieldset>
<a th:href="@{/menu}" class="botao">Voltar</a>
</body>
</html>