<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de pessoas</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<fieldset>
<legend><h1>Lista de Pessoas</h1></legend>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Cpf</th>
        <th>Função</th>



    </tr>
    </thead>
    <tbody>
    <tr th:each="pessoa : ${pessoas}">
        <td th:text="${pessoa.id}"></td>
        <td th:text="${pessoa.nome}"></td>
        <td th:text="${pessoa.email}"></td>
        <td th:text="${pessoa.idade}"></td>
        <td th:text="${pessoa.cpf}"></td>
        <td th:text="${pessoa.funcao.nomeFuncao}"></td>

        <td>
            <a th:href="@{/pessoa/ui/listar/{id}(id=${pessoa.id})}">Ver detalhes</a>
            <a th:href="@{/pessoa/ui/alterar/{id}(id=${pessoa.id})}">Alterar</a>
            <a th:href="@{/pessoa/ui/deletar/{id}(id=${pessoa.id})}">Deletar</a>
        </td>
    </tr>
    </tbody>
</table>
    </fieldset>
</body>
</html>