<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tabela de Funções</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<fieldset>
    <legend><h1>Função</h1></legend>
    <td>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Classificação</th>
                <th>Encarregados</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${funcao.id}"></td>
                <td th:text="${funcao.nomeFuncao}"></td>
                <td th:text="${funcao.classificacaoFuncional}"></td>
                <td>
                    <ul>
                        <li th:each="pessoa : ${pessoas}">
                            <span th:text="${pessoa.id}"></span> -
                            <span th:text="${pessoa.nome}"></span> -
                            <span th:text="${pessoa.idade}"></span> -
                            <span th:text="${pessoa.funcao.nomeFuncao}"></span>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(pessoa)}">
                <td colspan="4">Nenhum encarregado encontrado.</td>
            </tr>
            </tbody>
        </table>
</fieldset>
<a th:href="@{/funcao/ui/listar}" class="botao">Voltar</a>
</body>
</html>